@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


.containerFL{
    display: flex;
    align-items: center;
    .FTitleContainer{
        text-align: end;
        display: flex;
        align-items: center;
        padding: 0px 30px 0px 0px;
        .title{
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            text-align: right;
            color: #FFFFFF;
            font-family: "Maven Pro", sans-serif;
        }
    }
    .line{
        height: 61px;
        width: 0px;
        vertical-align: middle;
        color: white;
        display: inline-block;
        border: solid 0.5px white;
        margin: 0%;
        margin-right: 0%;
        background-color: white;
    }
}

@media only screen and (max-width: 426px){
    .containerFL{
        width: 97%;
        .FTitleContainer{
            padding: 0px 20px 0px 0px;
            .title{
                font-size: 21px;
                line-height: 23px;
            }
        }
    }
}

@media only screen and (max-width: 375px){
    .containerFL{
        width: 97%;
        .FTitleContainer{
            padding: 0px 20px 0px 0px;
            .title{
                font-size: 24px;
                line-height: 23px;
            }
        }
    }
}


@media only screen and (max-width: 320px){
    .containerFL{
        .FTitleContainer{
            .title{
                font-size: 30px;
                line-height: 32px;
            }
        }
    }
}
