@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.container {
    h2 {
        margin: 0;
        padding-top: 20px;
        font-size: 144px;
        line-height: 130px;
        font-family: 'Maven Pro', sans-serif;
        font-weight: bold;
    }

    p {
        margin: 0;
        font-size: 14px;
        text-align: center;
        font-family: 'Maven Pro', sans-serif;
    }
}


@media only screen and (max-width: 426px){
    .container{
        p{
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 375px){
    .container{
        p{
            font-size: 23px;
        }
    }
}