.footer{
    position: fixed;
    bottom:0;
    display: flex;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    width: 100%;
    height: 100px;
    justify-content: space-between;
    .containerF{
        display: flex;
        display: contents;
        .FooterT{
            display: flex;
        }
        
        .FooterCh{
            display: flex;
        }
    }

    @media only screen and (max-width: 1919px){
        .FooterT{
            width: 30%;
            margin-left: 200px;
        }
    }
    


    @media only screen and (max-width: 1440px){
        .FooterT{
            width: 30%;
            margin-left: 200px;
        }
    }
    
    
    @media only screen and (max-width: 1024px){
        .FooterT{
            width: 48%;
            margin-left: 61px;
        }
    }
    
    @media screen and (max-width: 768px){
        .FooterT{
            width: 35%;
            margin-left: 30px;
        }
    }

    @media screen and (max-width: 426px){
        .FooterT{
            width: 35%;
            margin-left: 30px;
        }
    }
}


