@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
.contentContainer{
    .logoBolaComps{
        width: 28%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .text{
        font-family: 'Maven Pro', sans-serif;
        float: right;
        margin-top: 7%;
        margin-right: 7%;
        text-align: end;
        width: 65%;
        .textEngSm{
            color: #C12D18;
            font-size: 2.4em;
            font-weight: 700;
        }
        .textPtSm{
            color: #222222;
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 1%;
        }
        .textEng{
            color: #C12D18;
            font-size: 3.2em;
            font-weight: 700;
        }
    }
}


@media only screen and (max-width: 1919px){
    .contentContainer{
        .text{
            font-family: "Maven Pro", sans-serif;
            float: right;
            margin-top: 6%;
            margin-right: 3%;
            text-align: end;
            width: 100%;
            .textEng{
                color: #C12D18;
                font-size: 3.8em;
                font-weight: 700;
            }
        }
    }
}


@media only screen and (max-width: 1440px) {
    .contentContainer{
        .text{
            font-family: "Maven Pro", sans-serif;
            float: right;
            margin-top: 10%;
            margin-right: 2%;
            text-align: end;
            width: 85%;
            .textEng{
                color: #C12D18;
                font-size: 2.8em;
                font-weight: 700;
            }
        }
    }
}


@media only screen and (max-width: 1024px){
    .contentContainer{
        .text{
            font-family: "Maven Pro", sans-serif;
            float: right;
            margin-top: 10%;
            margin-right: 2%;
            text-align: end;
            width: 85%;
            .textEng{
                color: #C12D18;
                font-size: 2.8em;
                font-weight: 700;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .contentContainer{
        .text {
            font-family: "Maven Pro", sans-serif;
            float: right;
            margin-top: 17%;
            margin-right: 2%;
            text-align: end;
            width: 70%;
            .textEng{
                color: #C12D18;
                font-size: 2.3em;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 450px){
    .contentContainer{
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-left: 45%;

        .logoBolaComps{
            width: 30%;
            position: fixed;
            bottom: 24%;
            left: 0px;
        }
        .text {
            font-family: "Maven Pro", sans-serif;
            float: right;
            margin-top: 17%;
            margin-right: 2%;
            text-align: end;
            width: 121%;
            .textEng{
                color: #C12D18;
                font-size: 2.3em;
                font-weight: 700;
            }
        }
    }
}



@media only screen and (max-width: 425px){
    .contentContainer{
        align-items: center;
        .logoBolaComps{
            width: 29%;
            bottom: 27%;
        }
        .text {
            font-family: "Maven Pro", sans-serif;
            float: right;
            margin-top: 0%;
            margin-right: 2%;
            text-align: end;
            width: 121%;
            .textEng{
                color: #C12D18;
                font-size: 2.3em;
                font-weight: 700;
            }
            .textPtSm{
                font-size: 1.5em;
                margin-bottom: 3%;
            }
        }
    }
}


@media only screen and (max-width: 375px){
    .contentContainer{
        .logoBolaComps{
            width: 28%;
            bottom: 24%;
        }
        .text{
            width: 167%;
            margin-top: 47%;
            .textPtSm{
                font-size: 1.7em;
            }
        }
    }
}

@media only screen and (max-width: 320px){
    .contentContainer{
        .logoBolaComps{
            width: 34%;
            bottom: 25%;
        }
        .text{
            width: 219%;
            margin-top: 87%;
        }
        .textPtSm{
            font-size: 2em;
        }
    }
}