.containerButtons{
    display: flex;
    a{
        background: #FFFFFF;
        width: 50%;
        display: contents;
        .continue{
            border-style: none;
            display: inline-block;
            background: #FFFFFF;
            color: #C13216;
            width: 50%;
        }
    }

    .logout{
        border: solid 1px rgb(1, 22, 15);
        display: inline-block;
        width: 50%;
        border-style: none;
        background: none;
        color: #FFFFFF;
    }
}