@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.containerMain{
	width: 50%;
	display: flex;
    justify-content: center;
	.containerForm{
		width: 50%;
		display: flex;
    	flex-direction: column;
		justify-content: space-evenly;
		.titleContainer{
			margin-bottom: 20px;
			font-family: 'Maven Pro', sans-serif;
			color: #E0E0E0;
			display: flex;
			flex-direction: column;
			.containerTitle{
				font-weight: 400;
				font-size: 60px;
				line-height: 76px;
				display: flex;
				margin-left: 89px;
    			margin-bottom: 3px;
			}
			.containerText{
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				display: flex;
    			text-align: left;
				margin-left: 83px;
			}
		}

		.form{
			display: inline-grid;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin-bottom: 10px;
			
			.titleCas{
				display: flex;
				font-weight: 400;
				font-size: 30px;
				line-height: 38px;
				color: #E0E0E0;
				font-family: 'Maven Pro', sans-serif;
				margin-left: 30px;
				
			}
		}




		.errorContainer{
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			span {
				color: #E9B425;
				font-weight: bold;
				font-size: 0.8rem;
				margin: 0;
				font-family: 'Maven Pro', sans-serif;
			}
			&__active {
				display: flex;
				margin-top: 20px;
			}
		}

		.containerButton{
			display: flex;
			margin-left: 23px;
			width: 97%;
			margin-top: 40px;
		
			.Button{
				color: white;
				background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
				font-weight: 700;
				border: none;
				border-radius: 40px;
				line-height: 23px;
				font-size: 0.7em;
				padding-top: 10px;
				padding-bottom: 10px;
				width: 96%;
			}
		}
	}


	.validationCase {
		display: flex;
		span {
			font-size: 14px;
			padding: 10px;
		}
		.spanOk {
			color: #33383D;
		}
		.okHidden {
			display: none;
		}
		.ok {
			display: inline;
		}
		.validationError {
			display: inline;
		}
		.validationErrorHidden {
			display: none;
		}
	}



	.footerText{
		font-family: 'Maven Pro', sans-serif;
		color: #E0E0E0;
		font-size: 13px;

		a{
			color: #E9B425;
			text-decoration: none;
		}
	}
	
}







@media screen and (max-width: 1919px){
	.containerMain{
		.containerForm{
			.titleContainer{
				.containerText{
					margin-left: 30px;
				}
				.containerTitle{
					margin-left: 35px;
				}
			}
		}
	}
}



@media screen and (max-width: 1440px){
	.containerMain{
		.containerForm{
			.titleContainer{
				.containerText{
					margin-left: 21px;
				}
				.containerTitle{
					margin-left: 22px;
				}
			}
		}
	}
}



@media screen and (max-width: 1024px){
	.containerMain{
		.containerForm{
			.titleContainer{
				.containerText{
					margin-left: 24px;
				}
				.containerTitle{
					margin-left: 24px;
				}
			}
		}
	}
}




@media screen and (max-width: 768px){
	.containerMain{
		.containerForm{
			.titleContainer{
				.containerText{
					margin-left: 0px;
				}
				.containerTitle{
					margin-left: 0px;
				}
			}
		}
	}
}



@media screen and (max-width: 425px){
	.containerMain{
		margin-right: 20px;
		.containerForm{
			width: 100%;
			.titleContainer{
				.containerText{
					margin-left: 0px;
					
				}
				.containerTitle{
					margin-left: 0px;
					
				}
				.form{
					margin-bottom: 10px;
					margin-right: 30px;
				}
			}
		}
		.footerText{
			margin-left: 20px;
		}
	}
}








@media screen and (max-width: 425px){
	.containerMain{
		margin-right: 20px;
		.containerForm{
			width: 100%;
			.titleContainer{
				.containerText{
					margin-left: 0px;
					
				}
				.containerTitle{
					margin-left: 0px;
					
				}
				.form{
					margin-bottom: 10px;
					margin-right: 30px;
				}
			}
		}
	}
	.footerText{
		margin-left: 20px;
	}
}


@media screen and (max-width: 375px){
	.containerMain{
		margin-right: 20px;
		.containerForm{
			width: 100%;
			.titleContainer{
				.containerText{
					margin-left: 0px;
					
				}
				.containerTitle{
					margin-left: 0px;
					
				}
				.form{
					margin-bottom: 10px;
					margin-right: 30px;
				}
			}
		}
		.footerText{
			margin-left: 20px;
		}
	}
}


@media screen and (max-width: 320px){
	.containerMain{
		margin-right: 20px;
		.containerForm{
			width: 100%;
			.titleContainer{
				.containerText{
					margin-left: 0px;
					
				}
				.containerTitle{
					margin-left: 0px;
					
				}
				.form{
					margin-bottom: 10px;
					margin-right: 30px;
				}
			}
		}

		.footerText{
			margin-left: 20px;
		}
	}
}

