.container {
    display: flex;
    justify-content: space-between;
    
    img {
        margin-left: 40px;
        margin-top: 25px;
        width: 150px;
        height: 43px;
    }
}

@media only screen and (max-width: 425px){
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        img{
            margin-left: 0px;
        }
    }
}


@media only screen and (max-width: 375px){
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        img{
            margin-left: 0px;
        }
    }
}


@media only screen and (max-width: 320px){
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        img{
            margin-left: 0px;
        }
    }
}