.containerButtons{
    display: flex;
    a{
        background: #FFFFFF;
        width: 50%;
        display: contents;
        .continue{
            border-style: none;
            display: inline-block;
            background: #FFFFFF;
            color: #C13216;
            width: 50%;
        }
    }

    .logout{
        border: solid 1px rgb(1, 22, 15);
        display: inline-block;
        width: 50%;
        border-style: none;
        background: none;
        color: #FFFFFF;
    }


}

@media only screen and (max-width: 425px){
    .containerButtons{
        a{
            .continue{
                font-size: 24px;
                padding: 45px 15px 45px 15px;
                
            }
        }

        .logout{
            font-size: 24px;
            padding: 45px 15px 45px 15px;
            border-style: dashed;
        }
    }
}

@media only screen and (max-width: 375px){
    .containerButtons{
        a{
            .continue{
                font-size: 28px;
            }
        }
        .logout{
            font-size: 28px;
        }
    }
}

@media only screen and (max-width: 320px){
    .containerButtons{
        a{
            .continue{
                font-size: 30px;
            }
        }
        .logout{
            font-size: 30px;
        }
    }
}
